USE [master]
GO
/****** Object:  Database [TP03]    Script Date: 23/6/2026 08:14:38 ******/
CREATE DATABASE [TP03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP03', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP03_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP03]
GO
/****** Object:  User [alumno]    Script Date: 23/6/2026 08:14:38 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 23/6/2026 08:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Palabra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Palabras] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Palabras] ON 

INSERT [dbo].[Palabras] ([ID], [Palabra]) VALUES (1, N'CUADERNO')
INSERT [dbo].[Palabras] ([ID], [Palabra]) VALUES (2, N'TELEFONO')
INSERT [dbo].[Palabras] ([ID], [Palabra]) VALUES (3, N'ARGENTINA')
SET IDENTITY_INSERT [dbo].[Palabras] OFF
GO
USE [master]
GO
